<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.maral.dbf2csvogr</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/maralsheikhzadeh/Documents/Codes/ETL-CDC/myenv/bin/python</string>
    <string>/Users/maralsheikhzadeh/Documents/Codes/ETL-CDC/dbf2csvogr.py</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/maralsheikhzadeh/Documents/Codes/ETL-CDC</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>StandardOutPath</key>
  <string>/tmp/dbf2csvogr.out</string>
  <key>StandardErrorPath</key>
  <string>/tmp/dbf2csvogr.err</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>4</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
